@media (max-width: 768px) {
  .imgWrap {
    box-sizing: border-box;
    width: 100%;
  }

  .img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vw;
  }
  .description {
    display: none;
    position: relative;
    top: 0px;
    opacity: 1;
    height: 35px;
    width: 80%;
    padding: 0;
    p {
      text-align: center;
      height: 30px;
      overflow: auto;
      color: #313434;
      background: #ffffffe7;
      font-size: 10px;
    }
    ul {
      display: none;
    }
  }

  .descriptionMobile {
    display: block;
    position: absolute;
    bottom: 0px;
    opacity: 1;
    width: 100%;
    height: 60px;
    padding: 0;
    p {
      text-align: center;
      overflow: auto;
      height: 100%;
      color: #313434;
      background: #ffffffe7;
      font-size: 12px;
    }
    ul {
      display: none;
    }
  }

  .price {
    font-size: 10px;


  }
}
@media (max-width: 400px) {
  .name{
    margin-top: 0;
    
  }
  .price{
    height: 30px;
  }
}
@media (max-width: 340px) {
  .name{
    margin-top: 0;
    
  }
  .price{
    font-size: 8px;
  }
}
