@import "./variables.scss";

.container {
  display: flex;
  margin: 0 auto;
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 43vw;
}

.name {
  margin: 0 auto;
  margin-top: 1.5vw;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  width: 90%;
  overflow: hidden;
  height: 25px;
  padding: 5px;
  color: $text-main;
  font-size: 14px;
}

.scrollHide {
  opacity: 0;
}

.imgWrap {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.descriptionMobile {
  display: none;
}

.scroll {
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  border-bottom: 1px solid $to-up;
  span {
    top: 0;
    left: 5px;
    position: relative;
    width: 1px;
    height: 20px;
    transform: rotate(45deg);
    background: $to-up;
    transition: all 0.2s ease-in;
    &::after {
      content: "";
      position: absolute;
      right: -10px;
      top: -10px;
      width: 1px;
      height: 20px;
      transform: rotate(90deg);
      background: $to-up;
    }
  }
  &:hover {
    span {
      top: -10px;
    }
  }
}

.description {
  position: absolute;
  bottom: 0;
  opacity: 0;
  height: max-content;
  width: 100%;
  transition: 0.3s all;
  p {
    text-align: center;
    padding: 5px;
    color: $text-main;
    background: #ffffffe7;
    font-size: 14px;
    width: 100%;
  }
  ul {
    display: none;
  }
}

.price {
  position: relative;
  line-height: 15px;
  height: 25px;
  font-size: 12px;
  margin-top: 0px;
  text-align: center;
  font-weight: 600;
  color: $text-main;
}

.itemWrap {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  &:hover {
    .description {
      opacity: 1;
    }
  }
}

.App {
  width: 100%;
  height: 100vh;
}

.closeMobile {
  display: none;
}
@import "./media.scss";
