.spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #313434;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &:after {
    animation: changeContent 0.8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
  }
}

.data-spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #313434;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0vh;
  bottom: 0;
  &:after {
    animation: changeContent 0.8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
  }
}

@keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}
